* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main {
    background: linear-gradient(275deg, #f95480, #ffd6ef);
    min-height: 100vh;
    padding: 10px;
}

.container {
    padding: 30px 83px 40px;
    margin: 100px auto;
    width: 450px;
    background: #ffffffcc;
    border-radius: 10px;
}

.container__text-h1 {
    color: #f95480;
    margin-bottom: 20px;
    text-align: center;
}

.container__form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container__form__submit {
    display: flex;
}

.container__form__input {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border: none;
    height: 21px;
    width: 228px;
    padding-left: 10px;
    outline: none;
}

.container__tasks__button {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border: none;
    color: #f95480;
    background-color: #ffffff;
    padding: 3px 5px;
    width: 56px;
    cursor: pointer;
}

.container__tasks-list {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

.container__tasks-list__done-task {
    list-style: none;
    user-select: none;
    cursor: pointer;
    position: relative;
    display: flex;
    padding: 0px 40px 10px 0;
    display: flex;
}

.container__tasks-list__checked {
    display: none;
}

.completed {
    width: 18px;
    height: 18px;
    border: 1.5px solid #f95480;
    border-radius: 4px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.done .completed::before {
    display: inline;
}

.done .completed::before {
    content: '✓';
    font-size: 15px;
    color: #ffffff;
    background-color: #f95480;
    width: 18px;
    height: 18px;
    border-radius: 4px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.todo-text {
    padding-left: 5px;
    width: 220px;
    overflow-wrap: break-word;
    word-break: break-all;
}

.done .todo-text {
    text-decoration: line-through;
    color: #bdbdbd;
}

.container__filter-buttons {
    margin-top: 15px;
    display: flex;
    width: 285px;
}

.button-filter {
    border: none;
    color: white;
    background-color: #f95480;
    padding: 3px 5px;
    width: 100%;
    cursor: pointer;
}

.container__filter-buttons__all {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.container__filter-buttons__donet {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.container__tasks-list__trash {
    position: absolute;
    right: 0;
    width: 18px;
    font-size: 15px;
    height: 18px;
    color: #f95480;
    background: none;
    border: none;
}

.container__tasks-list__trash:hover {
    color: #cc0202;
    transition: 0.4s;
}

.container__tasks-list__edit {
    width: 18px;
    font-size: 15px;
    height: 18px;
    color: #f95480;
    position: absolute;
    right: 21px;
    transform: scaleX(-1);
    background: none;
    border: none;
}

.container__tasks-list__edit:hover {
    color: #bdbdbd;
    transition: 0.4s;
}

.text-span {
    flex-grow: 1;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 22px;
}